# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Downloads and Temp files
downloads/
recommendations_*.md
.python-version
uv.lock
